{% macro panel(panel_info, id_prefix, row_class) %}
    <div class="panel">
        <div class="panel-header">{{ panel_info['path'] }}</div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Ext</th>
                <th>Size</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for child in panel_info['children'] %}
                {% set tr_class = 'file-name' %}
                {% set tr_id = id_prefix ~ loop.index %}
                {% if child['extension'] == '<<DIR>>' %}
                    {% set tr_class = 'folder-name' %}
                {% endif %}
                <tr onkeydown="handleKeyPress(event, '{{ child['full_path']|safe }}')" tabindex="0"
                    onclick="handleChangeSelectedClick(event, '{{ tr_id }}')"
                    class="{{ tr_class }} {{ row_class }}" id="{{ tr_id }}">
                    <td>{{ child['name'] }}</td>
                    <td>{{ child['extension'] }}</td>
                    <td>{{ child['size'] }}</td>
                    <td>{{ child['created_date'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}