@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --main-color: #150DF7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rubik, 'Arial', 'Courier New', serif;
    background-color: var(--main-color);
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

footer {
    background-color: black;
    color: #fff;
    margin-top: auto;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.2em 0.5em;
}

.button-box p {
    margin-right: 2px;
    font-weight: bold;
}

.footer-button {
    cursor: pointer;
    background-color: #088F8F;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    padding: 3px 20px;
}

.panel tbody tr {
    user-select: none;
}

.panels-container {
    display: flex;
    height: 100%;
    flex: 1;
}

.panel {
    position: relative;
    flex: 1;
    padding: 0 20px 20px;
    border: 2px double #B5F1E0;
    margin: 2px;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: calc(100vh - 50px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.panel td {
    word-wrap: break-word;
    max-width: 200px;
}

.panel::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.panel th, .panel td {
    padding: 10px;
    text-align: left;
}

.panel th {
    color: #FFD700;
}

.panel .folder-name td {
    color: white;
}

.panel .file-name td {
    color: rgba(181, 241, 224, 0.5);
    font-weight: bold;
}

.selected {
    background-color: #088F8F;
    outline: none;
}

.panel-header {
    position: sticky;
    top: 0;
    background-color: #088F8F;
    color: #B5F1E0;
    padding: 10px;
    border-bottom: 2px solid #888;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    z-index: 1000;
}

.overlap-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 20px;
}

#rename-modal, #delete-modal, #mkfile-modal, #mkdir-modal {
    display: none;
}

.modal-box {
    background-color: #B0B0B0;
    border: 2px solid #088F8F;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50vw;
}

.modal-box label, .modal-box p {
    font-size: smaller;
    margin-bottom: 0.2em;
}

#rename-option, #file-name-input, #folder-name-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 75%;
    background-color: #088F8F;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-box {
    display: flex;
    gap: 5px;
}

#rename-button, #delete-button, #mkfile-button, #mkdir-button, #cancel-button {
    cursor: pointer;
    background-color: #088F8F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

#content-container {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: calc(100vh - 100px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: pre-wrap;
    outline: none;
}

#content-container::-webkit-scrollbar {
    display: none;
}
